* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.calculator{
  background-color: gray;
  border-radius: 10px;
  width: 30vw;
  height: auto;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.result_box{
  /* background-color: red; */
  margin: 10px auto;
}
.input_box{
  height: 50px;
  width: 90%;
  text-align: right;
}
.button_Container{
  width: 100%;
  margin: auto;
}
.button_operation{
  padding: 20px 0 20px 0px;
  text-align: center;
}

input[type=button]{
  width: 20%;
  height: 20%;
  padding: 20px;
  line-height: 20px;
  text-align: center;
}